
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

@media only screen and (min-width: 480px) {
    div, footer, section, header{display: none}
    body {
                background: black;
                color: white;
    }

    article {
        display: block;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        color: #ff9d00;
        font-size: 50px;
        font-family: 'Mountains of Christmas', cursive;
        font-weight: 1000;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {			
    body {
        background: black;
        color: white;
        font-family: 'Mountains of Christmas', cursive;
        overflow: hidden;
    }

    header {
        width: 80%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);        
        font-size: 40px;
        color: white;
        text-align: center;
        white-space: wrap;
    }

    span {
        display: inline-block;
        position: absolute;
        transform: translate(-50%,-50%);
        width: 3px;
        height: 3px;
        border-radius: 50%;
        animation: twinkle 4s infinite linear;
        transition-duration: 1s;
    }

    span:nth-of-type(even) {
        animation-delay: 1s;
    }

    @keyframes twinkle {
            50%{opacity: 0}
            100%{opacity: 1}
    }        

    div {
        position: absolute;
        width: 100%;
        height: 95%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);                                             
    }

    div:nth-child(2) {
        width: 200px;
        height: auto;            
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    p {
        display: block;
        width: 0;                        
        border: solid 20px transparent;
        border-top: none;
        border-radius: 100%;                    
    }

    p:last-child{
        width: auto;
        border: none;
        font-size: 20px;
        text-align: center;
        margin: 0 0 40px 0;
        background: transparent;
        text-shadow: 0 0 2px yellow, 0 0 4px yellow, 0 0 6px yellow;
        animation: text 2s infinite linear;
    }

    @keyframes text{
        50%{text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow}
    }

    p:nth-child(1) {
        width: 30px;
        height: 60px;
        border: none;
        background: #761e1e;
        border-radius: 0;
        margin-top: -20px;
    }

    li {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        box-shadow: inset 1px 0 2px gray;
        margin: 0 5px;
        position: absolute;
        top: -10px;
        transform: translate(-50%,-50%);
        animation: snow 5s infinite ease-in;
    } 

    @keyframes snow  {
        100%{top: 100%}
    }

    .man {
        display: inline-block;
        position: absolute;
        bottom: 2%;
        left: 60%;
        transform: translateX(-50%);
        font-size: 60px;
        white-space: nowrap;
        margin: 0 0 -5px 0;
    }

    .gifts{
        display: inline-block;
        position: absolute;
        bottom: 2%;
        left: 40%;
        transform: translateX(-50%);
        font-size: 25px;
        white-space: nowrap;
        margin: 0 0 -5px 0;
    }

    .gifts b:nth-child(1) {
        font-size: 20px;
        margin: 0 20px 0 0;
    }

    .gifts b:nth-child(2) {
        margin: 0 -60px 0 0;
    }

    .gifts b:nth-child(3) {
        font-size: 30px;
        margin: 0 30px 0 0;
    }

    main{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
    
    }

    .santa {
        height: auto;
        width: auto;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .santa img {
        width: 140px;
        height: 160px;
    }

    .sledge {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 50%;
        right: 100%;
        opacity: 0;		
        animation: sledge 8s infinite linear 1s;						
    }

    .sledge img {
        width: auto;
        height: 100px;
        filter: drop-shadow(0 0 15px white);								
    }	

    @keyframes sledge {			
        0%{display: block; top: 30%; right: 100%}
        10%{opacity: 1}
        90%{top: 10%; right: -50%; opacity: 0; display: none}
    }	

    article { display:none}
}
