body {
	margin: 0;
	position: fixed;
	background-color: rgb(200, 220, 254);
}
p{
	position: fixed;
	top: 25vh;
	margin: 7vw;
	font-size: calc(25vw/5);
	font-weight: bolder;
	color: rgb(130, 160, 254);
	z-index: -1;
	text-align: center;
}